.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 50%; /*width:30px 이니까 15px 해도 된다. 50%! */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
